@import 'reset';
@import "variables/variables";

html {
  font-family: 'aktiv-grotesk', sans-serif;
	background-color: $color__bg-color;
	color: invert($color__bg-color);

}

html, body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

